@charset "utf-8";
/* CSS Document */

/*鍒楄〃*/
.article_list a.active{
    color:#FF7575;
}
.article_list_classify{
    font-size:10px;
    padding:1px 8px;
    color:#999;
    display:inline-block;
    background:#eee;
}
.article_list .articleContent{
    color:#aaa;
    margin:10px 0;
}
.article_list .tag{
    padding:1px 4px 1px 4px;
    font-size:10px;
    color:#fff;
    display:inline-block;
    background:#ccc;
}
.article_list_tag .tag{
    margin-right:5px;
}

.article_list_btn span{
    margin-left:5px;
    font-size:10px;
    vertical-align:middle;
}
.article_list_btn a{
    margin-right:5px;
}
/*璇︽儏*/
.article_detail_switch{
    margin-top:30px
}
.article_detail_switch>div{
    float:left;
    width:50%
}
.article_detail_switch a{
    display:block;
    padding:15px 20px
}
.article_detail_next{
    text-align:right
}

.article_detail_info>span+span {
    margin-left: 8px;
    display: inline-block;
}
@media(max-width:767px){
    .article_detail_switch>div{
        width:100%;
        float:none
    }
    .article_detail_next a,
    .article_detail_prev a{
        text-align:center;
        padding:10px 0
    }
    .article_detail_next a{
        margin-top:12px
    }
}
